@font-face {
  font-family: "RoleModel";
  src: url(/fonts/RoleModelPersonalUseRegular-K7zLy.otf);
}

body {
  background-color: #111827;

}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formOfInput {
  margin-top: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 300px;

  border-radius: 10px;
  background: linear-gradient(135deg,
      #111827 0%,
      #1F2937 100%,
      #374151 700%);

}

.nameToDo {
  font-family: "RoleModel";
  color: #F9FAFB;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: bold;
}

.inputTask {
  border: 1px black solid;
  border-radius: 5px;
}

.inputButtom {
  color: #F9FAFB;
  background-color: #326cca;
  border: 1px black solid;
  border-radius: 5px;
  cursor: pointer;
}

.filter {
  margin: 10px;
  border-radius: 5px;
  border: 1px black solid;
  cursor: pointer;
  color: #F9FAFB;
  background-color: #3B82F6;
}

.toDoList {
  margin: auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  color: #F9FAFB;
  font-size: 20px;
  background-color: #1F2937;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

}

.text {
  flex: 1;
  overflow-wrap: break-word;
  margin-right: 10px;
  margin-left: 10px;
  min-width: 0;

}

.fa-trash-o {
  margin: 5px;
  cursor: pointer;
}

.fa-trash-o:hover {
  transform: scale(1.2);
  color: brown;
}

.activeList {
  font: 17px  sans-serif;;
  border: 1px solid #19212c;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(10px);

}

.fa-check-square-o {
  margin: 5px;
  cursor: pointer;
}

.fa-check-square-o:hover {
  transform: scale(1.2);
  color: #3cee77;
}

.completed {
  background-color: #484952;
}

.textDecor {
  text-decoration: line-through;
}